<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
<div class="col-8 offset-2" >
    <h2>Edit list</h2>
    <form method="post" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation">

    <div>
        <label for="title" class="form-label">Title</label>
        <input type="text" name="listing[title]" value="<%=listing.title%>" class="form-control" required>
        <div class="invalid-feedback">Please enter the title</div>
        <div class="valid-feedback">That's nice!</div>
    </div>
    <br>

    <div>
        <label for="description" class="form-label">Description</label>
        <input type="text" name="listing[description]" value="<%=listing.description%>" class="form-control" required>
        <div class="invalid-feedback">Please enter a short title</div>
        <div class="valid-feedback">Looks Good!</div>
    </div> 
    <br>


    <div>
        <label for="image.url" class="form-label">Image</label>
        <input type="text" name="listing[image][url]" value="<%=listing.image.url%>" class="form-control" required>
        <div class="invalid-feedback">Please add url/link</div>
    </div>
    <br>

    <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input type="number" name="listing[price]" value="<%=listing.price%>" class="form-control" required>
            <div class="invalid-feedback">Enter Price</div>
        <div class="valid-feedback">Price added</div>

        </div>

        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" value="<%=listing.country%>" class="form-control" required>
            <div class="invalid-feedback">Enter country name</div>
            <div class="valid-feedback">added!</div>
        </div>
    </div>
    <br>
    
    <div>
        <label for="location" class="form-label">Location</label>
        <input type="text" name="listing[location]" value="<%=listing.location%>" class="form-control" required>
        <div class="invalid-feedback">Please enter the Location</div>
        <div class="valid-feedback">Added!</div>
    </div>
    <br>
    <button class="btn btn-dark post-btn mt-3">Edit</button>
    </form>
</div>
</div>
<script src="script.js"></script>


